name: Email Build
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  email-build:
    runs-on: buildjet-4vcpu-ubuntu-2204
    container:
      image: node:24
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: pnpm setup
        uses: pnpm/action-setup@v4
        with:
          version: 10.30.3
      - name: Install packages
        run: pnpm install
      - name: Run React Email Build
        run: pnpm email:build
